root {
    display: block;
}

.left_position {
    float: left;
}

.right_position {
    float: right;
}

.reset_left {
    clear: left;
}

.reset_right {
    clear: right;
}

.outline {
    border: solid thin black;
}

#content {
    width: 63em;
    height: 38em;
}

#left_container {
    margin-top: 0.25em;
    margin-left: 0.25em;
    width: 32em;
    height: 37.25em;
}

#input_box {
    margin-top: 0.25em;
    margin-left: 0.25em;
    width: 31em;
    height: 18em;
}

#output_box {
    margin-top: 0.25em;
    margin-left: 0.25em;
    width: 31em;
    height: 18em;
}

.box {
    border: solid groove black;
}

.right_container {

}

.visible {
    display: block;
}

/*To prevent you from losing history, non-fast-forward updates were rejected
Merge the remote changes before pushing again.  See the 'Note about
fast-forwards' section of 'git push --help' for details.
Pushing to git@github.com:gutzofter/quicBlog.git
To git@github.com:gutzofter/quicBlog.git
! [rejected]        master -> master (non-fast-forward)
error: failed to push some refs to 'git@github.com:gutzofter/quicBlog.git'
*/
