root {
    display: block;
}

.left_position {
    float: left;
}

.right_position {
    float: right;
}

.reset_left {
    clear: left;
}

.reset_right {
    clear: right;
}

.outline {
    border: solid thin black;
}

#content {
    width: 63em;
    height: 38em;
}

#left_container {
    margin-top: 0.25em;
    margin-left: 0.25em;
    width: 32em;
    height: 37.25em;
}

#input_box {
    margin-top: 0.25em;
    margin-left: 0.25em;
    width: 31em;
    height: 10em;
}

#output_box {
    margin-top: 0.25em;
    margin-left: 0.25em;
    width: 31em;
    height: 10em;
}

.right_container {

}

.visible {
    display: block;
}

