/* 
    Document   : showdown
    Created on : Mar 23, 2010, 1:14:58 PM
    Author     : jgutierrez
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

